@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap");

:root {
  --secondary: #f7567c;
  --secondary-75: rgba(247, 86, 124, 0.75);
  --secondary-50: rgba(247, 86, 124, 0.5);
  --secondary-25: rgba(247, 86, 124, 0.25);
  --secondary-10: rgba(247, 86, 124, 0.1);

  --primary: #111;
  --primary-75: rgba(17, 17, 17, 0.75);
  --primary-50: rgba(17, 17, 17, 0.5);
  --primary-25: rgba(17, 17, 17, 0.25);
  --primary-10: rgba(17, 17, 17, 0.1);

  --body_bg: #fff;
}

body {
  padding: 0;
  margin: 0;
  font-family: "Poppins", sans-serif;
  background-color: var(--body_bg);
}

section {
  max-width: 1024px;
  min-height: 90vh;
  margin-left: auto;
  margin-right: auto;
}

main h2 {
  margin: 0;
}

.admin {
  display: flex;
  justify-content: space-around;
  flex-direction: row;
}

.hidden {
  visibility: hidden;
}

.imgAnimal {
  width: 150px;
}

.editImg {
  display: flex;
  flex-direction: column;
  gap: 10px;
  margin: 25px 0px;
  background-color: white;
  padding: 10px;
  border-radius: 10px;
  border: solid 2px black;
}

.editImg input {
  width: min-content;
  background-color: var(--primary-50);
  color: white;
}

.editOrdre {
  display: flex;
  gap: 30px;
}

.valid {
  margin: 25px 0px;
}

/* ANIMAUX READ*/

.animals {
  width: 100%;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
  padding: 20px;
}

.card h2 {
  margin: 0;
  color: var(--secondary);
}

.card span {
  color: var(--secondary);
}

.card p {
  margin: 0;
}

.card .detail_link {
  padding: 5px;
  border-radius: 10px;
  border: solid 2px var(--secondary);
  display: flex;
  align-items: center;
  justify-content: center;
  text-decoration: none;
  transition: 0.4s;
  color: black;
  font-weight: 600;
}

.card .detail_link:hover {
  color: white;
  background-color: var(--secondary);
}

.card {
  text-align: start;
  display: flex;
  max-width: 200px;
  flex-direction: column;
  box-shadow: var(--primary-25) 0px 5px 20px 5px;
  padding: 20px;
  transition: 0.4s;
  background-color: white;
}

.card:hover {
  box-shadow: var(--primary-50) 0px 5px 20px 5px;
}

.card .image {
  position: relative;
  height: max-content;
}

.card .image img {
  width: 100%;
  object-fit: contain;
  border-radius: 10px;
}

.fa-heart {
  color: white;
  background-color: var(--secondary);
  padding: 5px;
  border-radius: 50%;
  transition: 0.4s;
}

.fa-heart:hover {
  transform: scale(1.1);
}

.card .image a {
  position: absolute;
  top: 0;
  right: 0;
  font-size: 2rem;
  color: white;
}

.error {
  border-radius: 25px;
  padding: 10px;
  font-weight: bold;
  background-color: white;
  color: red;
  font-weight: 600;
  margin: 25px 0px;
  width: max-content;
  position: absolute;
  left: 40%;
}

.title {
  text-align: center;
}

/* DETAIL ANIMAL */

.detail img {
  width: 150px;
}

/* MODAL */

.accept {
  position: fixed;
  z-index: 1;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  background-color: rgb(0, 0, 0);
  background-color: rgba(0, 0, 0, 0.4);
  display: flex;
  align-items: center;
  justify-content: center;
}

.modal {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  top: 50%;
  max-width: 1024px;
  width: auto;
}

.modal .content {
  padding: 40px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  border-radius: 10px;
  justify-content: center;

  position: absolute;
  background-color: white;
}

.content button {
  width: fit-content;
  padding: 10px;
  font-size: 15px;
  background-color: var(--secondary-50);
  border: none;
  color: var(--primary);
  font-weight: bold;
  cursor: pointer;
}

button a {
  text-decoration: none;
  color: black;
}

.detailBlog h1 {
  color: var(--secondary);
}

.detailBlog h2 {
  border-bottom: 2px solid black;
}

.detailBlog span {
  font-weight: 900;
}

.detailBlog p {
  margin: 20px 0px;
}

header {
  display: flex;
  align-items: center;
  position: sticky;
  top: 0px;
  position: sticky;
  padding: 10px;
  color: white;
  text-decoration: none;
  z-index: 10;
  background-color: white;
  box-shadow: var(--primary-25) 0px 10px 10px;
}

header > nav {
  max-width: 1024px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-left: auto;
  margin-right: auto;
}

.mobile_menu {
  display: none;
}

header a {
  display: block;
  width: max-content;
  color: black;
  text-decoration: none;
  font-size: 20px;
}

header h3 {
  margin: 0;
}

.connexion_link {
  background-color: var(--secondary-75);
  border-radius: 10px;
  border: none;
}

.inscription_link {
  background-color: var(--secondary-50);
  border-radius: 10px;
  border: none;
}

.inscription_link:hover {
  background-color: var(--secondary);
  border: none;
}

.connexion_link:hover {
  background-color: var(--secondary);
  border: none;
}

.lien {
  padding: 5px;
}

nav {
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: space-between;
  color: black;
}

header ul {
  display: flex;
  align-items: center;
  gap: 30px;
  color: black;
  font-weight: 600;
}

header ul a {
  border-bottom: solid 3px transparent;
}

header ul a:hover {
  border-bottom: solid 2px black;
}

.active {
  font-weight: bold;
}

.active::before {
  width: 10px;
  height: 10px;
  background-color: white;
  position: absolute;
  left: -10px;
}

.hero img {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 95%;
  object-fit: cover;
  z-index: -10;
}

.hero {
  display: flex;
  flex-direction: column;
  gap: 30px;
  width: 80%;
  color: white;
  margin-top: 5%;
}

.button_container {
  display: flex;
  align-items: center;
  gap: 10%;
}

.button_container p {
  font-size: 20px;
  font-weight: bold;
  color: white;
}

.button_container a {
  text-decoration: none;
}

.button_container button {
  display: flex;
  align-items: center;
  gap: 10px;
  background: none;
  border: none;
  cursor: pointer;
  transition: 0.4s;
  border-radius: 20px;
}

.button_container button:hover {
  background-color: var(--secondary-75);
}

.pourquoi_adopter span {
  font-size: 54px;
  color: var(--secondary);
}

.pourquoi_adopter .p_italic {
  color: var(--secondary);
}

.text_pourquoi {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.text_pourquoi .citation {
  text-align: end;
}

.reasons_container {
  display: flex;
  justify-content: space-between;
}

.h3_pink {
  color: var(--secondary);
}

.reasons_container > div {
  max-width: 300px;
  background-color: var(--primary-10);
  padding: 10px;
  transition: 0.4s;
}

.reasons_container > div:hover {
  transform: scale(1.1);
}

.reasons_container :nth-child(2) {
  font-weight: bold;
}

.second_reason {
  color: white;
  background-image: url(../assets/fond_pourquoi_case.png);
  background-repeat: no-repeat;
  background-size: cover;
}

.second_reason img {
  position: relative;
  z-index: -10;
  object-fit: cover;
  width: 100%;
}

.about_section {
  display: flex;
  align-items: center;
  gap: 10%;
}

.about_section h2 {
  margin-top: 10px;
}

.about_section .left img {
  min-height: 100%;
  object-fit: cover;
}

.about_section .right {
  display: flex;
  flex-direction: column;
}

.about_section .right p {
  margin: 0;
}

.right span {
  font-size: 54px;
  color: var(--secondary);
}

.achievements {
  display: flex;
  justify-content: space-between;
  padding-top: 20px;
  padding-bottom: 20px;
  border-bottom: 2px solid var(--primary);
  gap: 20px;
}

.achievements h3 {
  margin-top: 10px;
  margin-bottom: 10px;
}

.achievements > div {
  max-width: 80%;
}

.achievements :nth-child(2) {
  text-align: start;
}

.about_section .citation {
  display: flex;
  flex-direction: column;
  text-align: start;
  gap: 10px;
}

.citation span {
  font-size: 20px;
}

.chuck_norris {
  display: flex;
  align-items: center;
  text-align: center;
  gap: 10px;
}

.chuck_profil .p_italic {
  margin: 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.chuck_profil {
  display: flex;
}

.bg_animaux_section {
  background-color: var(--primary-10);
}

.animaux_section {
  display: flex;
  flex-direction: column;
  text-align: center;
  justify-content: center;
  align-items: center;
  gap: 50px;
}

.animaux_trie {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
}

.animaux_section button {
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  background: var(--secondary-50);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
  transition: 0.4s;
}

.animaux_section button:hover {
  background-color: var(--secondary-25);
}

.animaux_container {
  display: flex;
  justify-content: space-between;
  max-width: 1024px;
  width: 100%;
}

.animaux_description {
  background: var(--primary-50);
  color: white;
}

.blogs_section {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.blog {
  margin-top: 10%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
  border-radius: 20px;
  box-shadow: 0px 10px 10px var(--primary-25);
}

.blogs a {
  text-decoration: none;
}

.blogs_section button {
  width: fit-content;
  padding: 10px;
  font-size: 20px;
  background: var(--secondary-50);
  border: none;
  border-radius: 10px;
  font-weight: bold;
  cursor: pointer;
}

.blogs_container {
  display: flex;
  gap: 20px;
}

.blog_right {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.blog_right .blogs {
  display: flex;
  gap: 20px;
  align-items: start;
  padding-bottom: 10px;
  border-bottom: solid 1px var(--primary);
}

.blog_right button {
  background: none;
  display: flex;
  align-items: center;
  gap: 10px;
}

.blog_right img {
  max-width: 250px;
}

.blog_left {
  display: flex;
  flex-direction: column;
  justify-content: end;
}

.blog_left .text {
  width: fit-content;
  background: var(--primary-75);
  color: white;
  padding: 10px;
}

footer {
  background: var(--primary-75);
  display: flex;
  flex-direction: column;
  margin-top: 5%;
  padding-bottom: 20px;
  padding-left: 60px;
  padding-right: 60px;
}

footer .menu {
  display: flex;
  gap: 20px;
}

footer nav {
  display: flex;
  justify-content: space-between;
  border-bottom: 2px solid white;
  padding-bottom: 30px;
  align-items: center;
}

footer a {
  color: white;
  text-decoration: none;
}

footer .contact {
  display: flex;
  align-items: center;
  gap: 30px;
  justify-content: end;
  padding: 20px;
}

.contact .social_icons {
  display: flex;
  gap: 20px;
}

.social_icons svg {
  cursor: pointer;
  transition: 0.5s;
}

.social_icons svg:hover {
  transform: scale(1.2);
}

.credit {
  color: white;
}

/* LOGIN STYLE */
.login_section,
.signup_section {
  display: flex;
  padding: 0;
  margin: 0;
  max-height: 100svh;
  overflow-y: hidden;
}

.login_section h1,
.right_signup h1 {
  color: var(--secondary);
}

.login_right,
.right_signup {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: max-content;
  width: 150%;
}

.edit_page_admin_section label {
  display: flex;
  align-items: center;
  gap: 30px;
  gap: 30px;
}

.login_right label,
.right_signup label {
  display: flex;
  flex-direction: column;
  width: 400px;
}

.login_right input,
.right_signup input {
  background-color: var(--secondary-50);
  padding: 10px;
  border: none;
  border-radius: 10px;
}

.login_right .lien_signup {
  padding-top: 50px;
}

.login_right .lien_signup p {
  font-weight: 600;
}

.button_valid {
  color: white;
  font-size: 20px;
  border: var(--secondary) solid 2px;
  font-weight: bolder;
  cursor: pointer;
  transition: 0.4s;
}

.login_right .button_valid:hover {
  transform: scale(1.1);
}

input::placeholder {
  color: black;
  font-weight: bold;
}

.halo_div {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--secondary);
  position: absolute;
  top: 0;
  right: 0;
  filter: blur(90px);
}

.halo_div2 {
  width: 200px;
  height: 200px;
  border-radius: 50%;
  background-color: var(--secondary);
  position: absolute;
  z-index: -10;
  bottom: 0;
  right: 40%;
  filter: blur(90px);
}

/* ANIMAUX PAGE */

.animaux_hero {
  margin-top: 5%;
}

.trie {
  display: flex;
  flex-wrap: wrap;
  width: 100%;
  padding: 30px;
  margin: 0;
  gap: 30px;
  margin: 40px;
  align-items: center;
  justify-content: center;
  border-top: 2px solid black;
  border-bottom: 2px solid black;
}

.trie label {
  display: flex;
  align-items: center;
  gap: 10px;
}

.trie select {
  border: solid 1px black;
  padding: 10px;
  font-size: 12px;
  font-weight: bold;
  border-radius: 10px;
}

.trie .valid_button {
  background-color: var(--secondary-75);
  color: white;
}

.valid_button {
  background-color: white;
  color: var(--secondary);
  font-weight: bold;
  font-size: 24px;
  padding: 10px;
  border: none;
  border-radius: 10px;
  cursor: pointer;
  width: fit-content;
  transition: 0.4s;
  border: solid 2px transparent;
  align-items: center;
}

.valid_button:hover {
  background-color: var(--secondary-50);
  color: white;
  border: solid 2px var(--primary);
}

.remove_filter {
  background-color: var(--secondary-50);
  color: white;
  padding: 10px;
}

/* BLOG SECTION */

.blog_section .blog_read {
  margin-top: 20%;
  display: flex;
  flex-direction: column;
}

.blog_section h3 {
  margin: 0;
  color: var(--secondary);
}

.blog_info {
  display: flex;
}

.blog_info_text {
  margin-left: 10px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  grid-template-rows: repeat(4, 0.2fr);
}

.blog_info_text :nth-child(3) {
  grid-row: 4;
}

.blog_info_text span {
  font-weight: 400;
  color: var(--secondary);
  font-size: large;
}

.blog_info_text a {
  background-color: var(--secondary);
  padding-right: 10px;
  padding-left: 10px;
  display: flex;
  align-items: center;
  text-align: center;
  justify-content: center;
  border-radius: 10px;
  font-weight: 500;
  font-size: 24px;
  color: white;
  text-decoration: none;
  cursor: pointer;
  transition: 0.4s;
}

.blog_info_text a:hover {
  background-color: var(--secondary-50);
}

.add_blog {
  display: flex;
  align-items: center;
  gap: 10px;
  border: none;
  background-color: none;
  text-decoration: none;
  font-size: 20px;
  color: black;
  width: fit-content;
}

.supp_blog {
  padding: 10px;
  background-color: var(--secondary-25);
  cursor: pointer;
}

.edit_blog {
  padding: 10px;
  background-color: var(--secondary-75);
  cursor: pointer;
  text-decoration: none;
  color: white;
}

.edti_blog,
.supp_blog:hover {
  transition: 0.4s;
  background-color: var(--secondary);
}

.admin_link_blog {
  margin-top: 30px;
  margin-bottom: 30px;
}

/* FAVORIS PAGE */

.favoris_text {
  border-bottom: solid 2px black;
  padding-bottom: 30px;
}

/* USER PAGE */

.background_user_interface {
  position: fixed;
  width: 100%;
  height: 100%;
  background: var(--secondary);
  top: 0;
  left: 0;
  z-index: -10;
}

.user_interface {
  display: flex;
  align-items: center;
  gap: 10%;
}

.user_interface .hero {
  width: fit-content;
}

.user_right {
  display: flex;
  flex-direction: column;
  gap: 20px;
  background-color: rgba(255, 255, 255, 0.59);
  padding: 30px;
  border-radius: 10px;
  width: 70%;
}

.user_right label {
  display: flex;
  flex-direction: column;
}
.user_right label input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

input {
  border-radius: 10px;
  border: none;
  padding: 10px;
}

.user_right form {
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.user_right .valid_button {
  background-color: rgba(255, 255, 255, 0.559);
  border-radius: 10px;
  padding: 10px;
  font-weight: bold;
  color: var(--secondary);
  border: none;
  width: auto;
  cursor: pointer;
  font-size: 24px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.user_right .valid_button:hover {
  background-color: var(--secondary-75);
  color: white;
}

.user_infos {
  display: flex;
  flex-direction: column;
}

.user_infos p {
  color: var(--secondary);
  font-weight: bold;
}

.user_infos span {
  color: black;
}

.user_edit_link {
  display: flex;
  grid-column: 2 span;
  align-items: center;
  justify-content: space-between;
}

.user_edit_link a {
  color: var(--secondary);
}

/* ADMIN PAGES */
.panel_admin {
  display: flex;
  flex-direction: column;
  gap: 10%;
}

.admin_panel_text {
  display: flex;
  justify-content: space-between;
  gap: 40%;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: solid 2px black;
}

.table-admin {
  width: 100%;
  border: solid 3px var(--secondary);
  margin-top: 50px;
  padding: 10px;
  background-color: var(--primary-10);
  border-radius: 10px;
}

.header_table_admin {
  display: flex;
  justify-content: space-between;
  padding-bottom: 20px;
  width: 100%;
  border-bottom: 2px solid black;
  align-items: center;
  color: var(--secondary);
}

.header_table_admin a {
  text-decoration: none;
  padding: 10px;
  background-color: white;
  color: var(--secondary);
  border: solid 1px var(--primary-50);
  border-radius: 10px;
  font-weight: bold;
}

table {
  width: 100%;
  line-height: 50px;
}

thead {
  width: 100%;
}

td {
  width: fit-content;
  align-items: center;
}

tr {
  align-items: start;
  text-align: center;
  display: flex;
  justify-content: space-between;
  border-bottom: solid 1px black;
  padding-top: 10px;
}

tr a {
  background-color: var(--secondary);
  text-decoration: none;
  color: white;
  font-weight: 600;
  padding: 5px;
  border-radius: 10px;
  transition: 0.4s;
  cursor: pointer;
}

tr a:hover {
  background-color: var(--secondary-50);
}

.animals_container_admin {
  background-color: var(--secondary-75);
  margin-top: 20px;
  margin-bottom: 20px;
}

.create_animals {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.create_animals select {
  background-color: var(--primary-50);
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.files {
  background-color: var(--primary-50);
  color: white;
  padding: 10px;
  border-radius: 10px;
  cursor: pointer;
}

.header_table_items {
  width: 100%;
  display: flex;
  gap: 30px;
  justify-content: space-between;
}

.type_admin {
  font-size: 24px;
  color: var(--secondary);
  font-weight: bolder;
  width: 100px;
}

.delete_button_admin {
  padding: 5px;
  border-radius: 10px;
  color: white;
  background-color: var(--secondary);
  cursor: pointer;
}

.change_button_admin {
  text-decoration: none;
  padding: 5px;
  border-radius: 10px;
  color: black;
  background-color: var(--secondary-50);
}

.edit_page_admin_section {
  min-height: fit-content;
}

.edit_animals_admin {
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 20px;
  background-color: white;
  padding: 20px;
  border-radius: 10px;
}

.edit_animals_admin input {
  background-color: var(--secondary);
  color: white;
}

.edit_animals_admin .valid_button {
  color: white;
}

.delete_img_animal {
  background-color: var(--primary-75);
  color: white;
  padding: 5px;
  border-radius: 5px;
  width: fit-content;
  cursor: pointer;
  transition: 0.4s;
}

.delete_img_animal:hover {
  background-color: var(--secondary-75);
}

.detail span {
  color: white;
}

.blog_edit,
.add_blog_form {
  display: flex;
  flex-direction: column;
  align-items: start;
  gap: 30px;
}

.blog_edit label,
.add_blog_form label {
  background-color: var(--primary-25);
  padding: 10px;
  border-radius: 10px;
}

.blog_edit img {
  max-width: 500px;
}

/* RESPONSIVE */

.menu_reveal {
  transform: translate(0);
  overflow: hidden;
}

.mobile_menu {
  display: none;
  position: relative;
  cursor: pointer;
}

@media screen and (max-width: 1080px) {
  section {
    padding: 30px;
    min-height: 70svh;
    max-width: none;
  }

  header ul {
    z-index: 1;
    display: flex;
    flex-direction: column;
    align-items: end;
    justify-content: center;
    font-size: 40px;
    background-color: white;
    border-right: solid 4px var(--secondary);
    position: fixed;
    top: 0;
    left: 0;
    padding: 30px;
    height: 100%;
    transform: translate(-100%);
    margin: 0;
    transition: 0.4s;
  }

  .mobile_menu {
    display: inline-block;
    z-index: 50;
  }

  header {
    position: sticky;
    z-index: 5;
  }

  .hero {
    padding: 30px;
    margin-top: 10px;
  }

  .button_container {
    display: flex;
    flex-direction: column;
    align-items: start;
  }

  .reasons_container {
    display: flex;
    flex-direction: column;
    gap: 20px;
    align-items: center;
  }

  .reasons_container > div {
    min-width: 50%;
  }

  .about_section {
    display: flex;
    flex-direction: column;
    padding-top: 50px;
  }

  .about_section .left img {
    min-width: 100%;
  }

  .blog_left {
    display: none;
  }

  .trie {
    width: 80%;
  }

  .animals {
    width: 80%;
    gap: 20px;
  }

  .login_section img {
    display: none;
  }

  .signup_section img {
    display: none;
  }

  .user_interface {
    display: flex;
    flex-direction: column;
  }

  .user_infos {
    display: flex;
    flex-direction: column;
  }

  .user_edit_link {
    display: flex;
    flex-direction: column;
    gap: 20px;
  }

  .user_infos h2 {
    background-color: blue;
  }

  .user_right h2 {
    font-size: 30px;
  }

  .infos_animals_admin {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 850px) {
  header ul {
    width: 100%;
    align-items: center;
    overflow: hidden;
    padding: 0;
  }

  .animaux_container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 20px;
    align-items: center;
    justify-items: center;
  }

  .blogs_container {
    display: flex;
    flex-direction: column;
  }

  .text_pourquoi {
    display: flex;
    justify-content: space-between;
    flex-direction: column;
    align-items: center;
  }

  .blog_info {
    display: flex;
    flex-direction: column;
  }
}

@media screen and (max-width: 760px) {
  .hero h1 {
    font-size: 55px;
    margin-top: 20px;
    margin-bottom: 20px;
  }

  .hero span {
    font-size: 20px;
  }

  .pourquoi_adopter h2,
  .pourquoi_adopter span {
    font-size: 40px;
  }

  .about_section h2,
  .about_section span {
    font-size: 40px;
  }

  .citation span {
    font-size: 20px;
  }

  footer nav {
    display: none;
  }

  footer .contact {
    display: flex;
    justify-content: space-between;
  }
}

@media (max-width: 600px) {
  .hero img {
    height: 90%;
  }

  .login_section form,
  .signup_section form{
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
  }

  .login_section h1,
  .signup_section h1{
    font-size: 40px;
  }

  .login_right{
    height: 100svh;
  }

  .right_signup{
    padding-top: 60px ;
    overflow-x: auto;
  }

  .login_section label,
  .right_signup label{
    align-items: center;
    text-align: center;
  }

  .login_section input
  .signup_section input{
   width: 80%;
  }

  .signup_section p{
    align-items: center;
    text-align: center;
  }

  .hero h1 {
    font-size: 40px;
  }

  .hero {
    padding: 10px;
    width: 100%;
  }

  .citation .p_italic,
  p {
    text-align: start;
  }

  .about_section img {
    width: 70%;
    height: 50%;
  }

  .achievements {
    display: flex;
    flex-direction: column;
    gap: 10px;
  }

  .achievements div {
    border-top: 2px solid black;
  }

  .animaux_section h3 {
    font-size: 30px;
  }

  .animaux_container {
    display: flex;
    flex-direction: column;
  }

  .admin_panel_text{
    flex-direction: column;
  }

  .admin_panel_text p{
    text-align: center;
  }

  .infos_animals_admin{
    display: none;
  }

  .table-admin{
    padding: 5px;
  }

  .table-admin h1{
    font-size: 40px;
  }

}

@media (max-width: 500px) {
  .blogs_section {
    align-items: center;
    justify-content: center;
  }

  .blogs {
    flex-direction: column;
    text-align: center;
    align-items: center;
  }

  .blogs p,
  .blogs a {
    text-align: center;
    align-items: center;
    display: flex;
    justify-content: center;
  }

  .blogs button {
    padding: 5px;
    background-color: var(--secondary-50);
    border-radius: 15px;
  }

  .animaux_trie h1 {
    font-size: 35px;
    text-align: center;
  }
  .animaux_trie label {
    display: flex;
    flex-direction: column;
  }

  .favoris_section h2 {
    font-size: 35px;
  }

  .favoris_text span {
    font-size: 15px;
  }

  .blog h3{
    font-size: 25px;
  }

  .blog span{
    font-size: 20;
  }

  .blog p{
    margin: 2px;
    display: flex;
    flex-wrap: wrap;
  }

  .admin_link_blog{
    gap: 10px;
    display: flex;
    flex-direction: column;
  }

  
}
