body{
    padding: 0;
    margin: 0;
}

header a {
    display: block;
    width: max-content;
}

.table-admin {
    display: flex;
    gap: 30px;
    align-items: center;
    flex-direction: column;
}

.admin {
    display: flex;
    justify-content: space-around;
    flex-direction: row;
}

.hidden {
    visibility: hidden;
}

.imgAnimal {
    width: 150px;
}

.editImg{
    display: flex;
    flex-direction: column;
    width: 150px;
    gap: 10px;
    margin: 25px 0px;
}

.editImg input {
    width: 50px;
}

.editOrdre {
    display: flex;
    gap: 30px;
}

.valid {
    margin: 25px 0px;
}

/* ANIMAUX READ*/

.animals{
    width: 100%;
    display: flex;
    justify-content: space-around;
    flex-wrap: wrap;
}

.card h2, p {
    margin: 0;
}

.card {
    text-align: center;
    display: flex;
    gap: 25px;
    flex-direction: column;
    position: relative;
    border-radius: 25px;
    border: 2px solid black;
    overflow: hidden;
}

.card .image {
    position: relative;
    height: max-content;
}

.card .image img{
    width: 250px;

}

.card .image a{
    position: absolute;
    top: 0;
    right: 0;
    font-size: 2rem;
    color: white;
}

.error{
    border-radius: 25px;
    padding: 5px;
    background-color: rgb(157, 68, 68);
    color: white;
    font-weight: 600;
    margin: 25px 0px;
    width: max-content;
}

.trie {
    justify-content: center;
    display: flex;
    gap: 30px;
    margin: 25px;
}

.title {
    text-align: center;
}

/* DETAIL ANIMAL */

.detail img {
    width: 150px;
}